@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
body {
  font-family: "Roboto Flex", sans-serif;
  box-sizing: border-box;
}

/* hide scrollbar but allow scroll */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@theme {

  --color-azure: #3B83F5;
  --color-oxford-blue: #1E2234;
  --color-space-cadet: #252A3D;
  --color--cadet-gray: #7B94A6ff;
  --color-rich-black: #0B0E16;
  --color-jade: #37B073ff;
  --color-auburn: #AD413Dff;
  --color-satin-sheen-gold: #B79F54ff;
  --color-platinum: #D0D5D9ff;
}
